[submodule "neonEngine/nvrhi"]
	path = neonEngine/nvrhi
	url = https://github.com/NVIDIA-RTX/NVRHI.git
[submodule "neonEngine/dependencies/nvrhi"]
	path = neonEngine/dependencies/nvrhi
	url = https://github.com/NVIDIA-RTX/NVRHI.git
[submodule "neonEngine/dependencies/glfw"]
	path = neonEngine/dependencies/glfw
	url = https://github.com/glfw/glfw.git
