[submodule "neonEngine/nvrhi"]
	path = neonEngine/nvrhi
	url = https://github.com/NVIDIA-RTX/NVRHI.git
[submodule "neonEngine/dependencies/SDL3"]
	path = neonEngine/dependencies/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "neonEngine/dependencies/tinygltf"]
	path = neonEngine/dependencies/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "neonEngine/dependencies/miniaudio"]
	path = neonEngine/dependencies/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "neonEngine/dependencies/entt"]
	path = neonEngine/dependencies/entt
	url = https://github.com/skypjack/entt.git
[submodule "neonEngine/dependencies/gaiaecs"]
	path = neonEngine/dependencies/gaiaecs
	url = https://github.com/richardbiely/gaia-ecs.git
[submodule "neonEngine/dependencies/neonrhi"]
	path = neonEngine/dependencies/neonrhi
	url = https://github.com/AlikGreen/NeonRHI.git
[submodule "neonEngine/dependencies/neonEcs"]
	path = neonEngine/dependencies/neonEcs
	url = https://github.com/AlikGreen/NeonECS.git
[submodule "neonEngine/dependencies/neonecs"]
	path = neonEngine/dependencies/neonecs
	url = https://github.com/AlikGreen/NeonECS.git
