# Ignore build directories
sandboxApp/cmake-build-debug-visual-studio/
sandboxApp/build/
sandboxApp/neonEngine/
neonEngine/cmake-build-debug/
neonEngine/cmake-build-debug-visual-studio/

# Ignore object files and executables
*.o
*.obj
*.exe
*.dll
*.so